In [2]:
import pandas as pd
import sqlite3

In [3]:
#Conexion
con = sqlite3.connect("C:/Users/babst/Downloads/nba_salary.sqlite")

#QUERY
sql = "SELECT name from sqlite_master where type = 'table'"

In [4]:
#Crear dt
df = pd.read_sql_query(sql,con)

In [5]:
print(df)

                    name
0  NBA_season1718_salary
1          Seasons_Stats

In [6]:
df_nba = pd.read_sql_query("Select * From NBA_season1718_salary",con)
print(df_nba)

        X1          Player   Tm  season17_18
0      1.0   Stephen Curry  GSW   34682550.0
1      2.0    LeBron James  CLE   33285709.0
2      3.0    Paul Millsap  DEN   31269231.0
3      4.0  Gordon Hayward  BOS   29727900.0
4      5.0   Blake Griffin  DET   29512900.0
..     ...             ...  ...          ...
568  569.0      Quinn Cook  NOP      25000.0
569  570.0   Chris Johnson  HOU      25000.0
570  571.0      Beno Udrih  DET      25000.0
571  572.0   Joel Bolomboy  MIL      22248.0
572  573.0    Jarell Eddie  CHI      17224.0

[573 rows x 4 columns]

In [7]:
#SQLAlchemy
import sqlalchemy as db

In [8]:
#Conexion
engine = db.create_engine('sqlite:///C:/Users/babst/Downloads/nba_salary.sqlite')
connection = engine.connect()

In [9]:
import pandas as pd
df_nba_sqlalchemy = pd.read_sql_query("Select * from Seasons_Stats",connection)
print(df_nba_sqlalchemy)

            X1    Year             Player  Pos   Age   Tm     G   GS      MP  \
0          0.0  1950.0    Curly Armstrong  G-F  31.0  FTW  63.0  NaN     NaN
1          1.0  1950.0       Cliff Barker   SG  29.0  INO  49.0  NaN     NaN
2          2.0  1950.0      Leo Barnhorst   SF  25.0  CHS  67.0  NaN     NaN
3          3.0  1950.0         Ed Bartels    F  24.0  TOT  15.0  NaN     NaN
4          4.0  1950.0         Ed Bartels    F  24.0  DNN  13.0  NaN     NaN
...        ...     ...                ...  ...   ...  ...   ...  ...     ...
24686  24686.0  2017.0        Cody Zeller   PF  24.0  CHO  62.0  NaN  1725.0
24687  24687.0  2017.0       Tyler Zeller    C  27.0  BOS  51.0  NaN   525.0
24688  24688.0  2017.0  Stephen Zimmerman    C  20.0  ORL  19.0  0.0   108.0
24689  24689.0  2017.0        Paul Zipser   SF  22.0  CHI  44.0  NaN   843.0
24690  24690.0  2017.0        Ivica Zubac    C  19.0  LAL  38.0  NaN   609.0

        PER  ...    FT%  ORB  DRB    TRB    AST  STL  BLK  TOV     PF    PTS
0       NaN  ...  0.705  NaN  NaN    NaN  176.0  NaN  NaN  NaN  217.0  458.0
1       NaN  ...  0.708  NaN  NaN    NaN  109.0  NaN  NaN  NaN   99.0  279.0
2       NaN  ...  0.698  NaN  NaN    NaN  140.0  NaN  NaN  NaN  192.0  438.0
3       NaN  ...  0.559  NaN  NaN    NaN   20.0  NaN  NaN  NaN   29.0   63.0
4       NaN  ...  0.548  NaN  NaN    NaN   20.0  NaN  NaN  NaN   27.0   59.0
...     ...  ...    ...  ...  ...    ...    ...  ...  ...  ...    ...    ...
24686  16.7  ...  0.679  NaN  NaN  405.0   99.0  NaN  NaN  NaN  189.0  639.0
24687  13.0  ...  0.564  NaN  NaN  124.0   42.0  NaN  NaN  NaN   61.0  178.0
24688   7.3  ...  0.600  NaN  NaN   35.0    4.0  NaN  NaN  NaN   17.0   23.0
24689   6.9  ...  0.775  NaN  NaN  125.0   36.0  NaN  NaN  NaN   78.0  240.0
24690  17.0  ...  0.653  NaN  NaN  159.0   30.0  NaN  NaN  NaN   66.0  284.0

[24691 rows x 53 columns]

In [10]:
#Consultas!
df_Curly = pd.read_sql_query("SELECT * from Seasons_Stats where Player = 'Curly Armstrong'",connection)

In [11]:
df_Curly

,X1,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0.0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,None,None,None,...,0.705,None,None,NaN,176.0,None,None,None,217.0,458.0
1,314.0,1951.0,Curly Armstrong,G-F,32.0,FTW,38.0,None,None,None,...,0.644,None,None,89.0,77.0,None,None,None,97.0,202.0

In [12]:
prom_PTS = df_nba_sqlalchemy['PTS'].mean()
prom_PTS

510.1163499025341

In [13]:
import pandas as pd
serie = pd.Series([100, 200, 300])
print(serie)

0    100
1    200
2    300
dtype: int64

In [14]:
data = {'Product': ['A', 'B'], 'Sales': [100, 200]}
df = pd.DataFrame(data)
print(df)

  Product  Sales
0       A    100
1       B    200

In [15]:
df_nuevo = serie.to_frame(name='new_column')
print(df_nuevo)

   new_column
0         100
1         200
2         300

In [16]:
df_Curly.isnull().sum()

X1        0
Year      0
Player    0
Pos       0
Age       0
Tm        0
G         0
GS        2
MP        2
PER       2
TS%       0
3PAr      2
FTr       0
ORB%      2
DRB%      2
TRB%      2
AST%      2
STL%      2
BLK%      2
TOV%      2
USG%      2
blanl     2
OWS       0
DWS       0
WS        0
WS/48     2
blank2    2
OBPM      2
DBPM      2
BPM       2
VORP      2
FG        0
FGA       0
FG%       0
3P        2
3PA       2
3P%       2
2P        0
2PA       0
2P%       0
eFG%      0
FT        0
FTA       0
FT%       0
ORB       2
DRB       2
TRB       1
AST       0
STL       2
BLK       2
TOV       2
PF        0
PTS       0
dtype: int64

In [17]:
duplicados = df_Curly.duplicated()
print(duplicados.sum())

0

In [18]:
df['date_column'].apply(lambda x: validate_date(x))

KeyError: 'date_column'

In [ ]:
# 1. Leer Archivo CSV generado

import pandas as pd
df = pd.read_csv("C:/Users/babst/Downloads/datos_ejemplo.csv")

# Mostrar el df original
print(df)

In [ ]:
# 2 Manejo de valores nulos
print("\nValores nulos por columna:")
print(df.isnull().sum()) #Verificar valores nulos

#3 Eliminar las filas que contienen valores nulos
df_sin_nulos = df.dropna()

#4 Rellenar los valores nulos con un valor específico (por ejemplo, 0 o "Desconocido")
df_rellenado = df.fillna({'Salario': 0, 'Nombre': 'Desconocido'})

print("\nDataFrame después de eliminar nulos:")
print(df_sin_nulos)

print("\nDataFrame después de rellenar nulos:")
print(df_rellenado)

In [ ]:
#5 Deteccióny Correción de errores en los tipos de datos

# Intentar convertir la columna 'Edad' a numérica
df['Edad'] = pd.to_numeric(df['Edad'], errors = 'coerce')

# Ver los tipos de datos de las columnas antes de la correción
print(df.dtypes)

# Corregir valores no numéricos en 'Edad' (por ejemplo, convertir a NaN)
df['Edad'] = df['Edad'].fillna(df['Edad'].mean()) #Rellenar NaN con el promedio de la columna

# Ver los tipos de datos después de la correción
print(df.dtypes)

# Ver el df corregido
print(df)

In [ ]:
#6 Conversión de variables categóricas en números

df['Genero'] = df['Genero'].map({'F': 0, 'M': 1}) 

# Usar la técnica de 'get_dummies' para convertir 'Departamento' en variables dummy
df = pd.get_dummies(df, columns = ['Departamento'], drop_first = True)

# Ver el DF final
print(df)

In [ ]:
df_filtrado = df[df['Edad'] > 35]
print(df_filtrado)

In [ ]:
df_seleccion = df[['Edad', 'Salario']]
print(df_seleccion)

In [ ]:
df['nueva_columna'] = df['Edad'] * df['Salario']
print(df)

In [ ]:
import pandas as pd

data = {
    'producto': ['A', 'B', 'C'],
    'cantidad': [3, 0, 5],
    'precio_unitario': [10, 20, 15]
}
df = pd.DataFrame(data)

In [ ]:
df_filtrado = df[df['cantidad'] > 1]
print(df_filtrado)

In [ ]:
df_seleccion = df_filtrado[['producto', 'cantidad']]
print(df_seleccion)

In [ ]:
df_filtrado['total_venta'] = df_filtrado['cantidad'] * df_filtrado['precio_unitario']
print(df_filtrado)

In [ ]:
# Agrupar y Resumir Datos
import pandas as pd

data = {
    'producto': ['A', 'B', 'A', 'B'],
    'ventas': [10, 20, 30, 40]
}
df = pd.DataFrame(data)
grupo = df.groupby('producto').agg({'ventas': ['sum', 'mean']})
print(grupo)

In [ ]:
import pandas as pd
import numpy as np

#1. Importar archivo CSV de empleados  y bonificaciones
df_empleados = pd.read_csv("C:/Users/babst/Downloads/empleados.csv")
df_bonificaciones = pd.read_csv("C:/Users/babst/Downloads/bonificaciones.csv")

#2. Mostrar DataFrames
print(df_empleados)
print(df_bonificaciones)

In [ ]:
#3. Aplicar funciones personalizadas

# Definir una función personalizada para calcular el salario anualizado
def salario_anual(salario):
    return salario * 12

# Aplicar la función personalizada a la columna 'Salario'
df_empleados['Salario_anual'] = df_empleados['Salario'].apply(salario_anual)
print(df_empleados)

In [ ]:
#4. Uso de apply()  para aplicar funciones más complejas

# Crear una función que calculesi un empleado tiene más de 5 años de antiguüedad
def antiguedad_5anos(fecha_ingreso):
    today = pd.to_datetime('today')
    antiguedad = today - pd.to_datetime(fecha_ingreso)
    return antiguedad.days / 365 > 5

df_empleados['Antiguedad_mayor_5'] = df_empleados['Fecha_Ingreso'].apply(antiguedad_5anos)
print(df_empleados)

In [ ]:
#5. Crear tablas pivote (Pivot Tables)

# Crear una tabla pivote que muestre el salario promedio por departamento
pivot_departamento = df_empleados.pivot_table(values = 'Salario', index = 'Departamento', aggfunc = 'mean')

print(pivot_departamento)

In [ ]:
#6. Merge y Join para combinar DataFrames

# Realizar un merge entre los dos DataFrames usando la columna 'ID_empleado'
df_completo = pd.merge(df_empleados, df_bonificaciones, on = 'ID_Empleado', how = 'left')

print(df_completo)
 
    
# Usar Join:    
# Crear dataframe adicional de departamentos con la información de ubicación 
data_departamentos = {
    'Departamento': ['Ventas', 'TI', 'Marketing'],
    'Ubicación': ['Madrid','Barcelona', 'Valencia']
}

df_departamentos = pd.DataFrame(data_departamentos)

# Establecer 'Departamento' como índice del DataFrame de departamentos
df_departamentos.set_index('Departamento', inplace = True)

#Realizar un join entre el DataFrame de empleados y el de departamentos usando la columna 'Departamento'
df_join = df_empleados.set_index('Departamento').join(df_departamentos)

print(df_join)

In [20]:
# Crear DataFrame 
data = {
    'Producto': ['Camisa', 'Pantalón', 'Zapatos', 'Sudarera', 'Sombrero'],
    'Precio': [20.0, 40.0 ,50.0 ,60.0 ,15.0],
    'Cantidad': [2, 3, 1, 2, 5]
}

df = pd.DataFrame(data)
print(df)

def antiguedad_5anos(fecha_ingreso):
    today = pd.to_datetime('today')
    antiguedad = today - pd.to_datetime(fecha_ingreso)
    return antiguedad.days / 365 > 5

# Definir función
def total_ventas(precio):
    indice = df[df['Precio'] == precio].index[0]
    cantidad = df.loc[indice, 'Cantidad']
    return precio * cantidad

# Aplicar función
df['Total_ventas'] = df['Precio'].apply(total_ventas)
print(df)

# Clasificar productos como baratos, medios o caros
def clasificar_productos(Precio):
    if Precio < 20:
        return "Barato"
    elif Precio >= 21 and Precio < 50:
        return "Medio"
    else:
        return "Caro"

# Aplicar función personalizada a la columna 'precio' de df
df['Clasificación_producto'] = df['Precio'].apply(clasificar_productos)
print(df)

   Producto  Precio  Cantidad
0    Camisa    20.0         2
1  Pantalón    40.0         3
2   Zapatos    50.0         1
3  Sudarera    60.0         2
4  Sombrero    15.0         5
   Producto  Precio  Cantidad  Total_ventas
0    Camisa    20.0         2          40.0
1  Pantalón    40.0         3         120.0
2   Zapatos    50.0         1          50.0
3  Sudarera    60.0         2         120.0
4  Sombrero    15.0         5          75.0
   Producto  Precio  Cantidad  Total_ventas Clasificación_producto
0    Camisa    20.0         2          40.0                   Caro
1  Pantalón    40.0         3         120.0                  Medio
2   Zapatos    50.0         1          50.0                   Caro
3  Sudarera    60.0         2         120.0                   Caro
4  Sombrero    15.0         5          75.0                 Barato

In [26]:
import pandas as pd  
data = {'producto': ['Camisa', 'Pantalón', 'Zapatos'], 'precio': [20, 40, 50], 'cantidad': [10, 5, 8]}  
df = pd.DataFrame(data)

   
df.to_csv('productos.csv', index=False)

In [28]:
import os
print(os.listdir('.'))

['.ipynb_checkpoints', 'Conexion bd-pandas.ipynb', 'producto.csv', 'productos.csv']

In [30]:
import pandas as pd

# Dataset inicial
data_base = {
    'id': [1, 2, 3],
    'producto': ['Camisa', 'Pantalón', 'Zapatos'],
    'cantidad': [10, 5, 8]
}
df_base = pd.DataFrame(data_base)
print("Base inicial:")
print(df_base)

# Nueva carga completa
data_nueva = {
    'id': [1, 2, 3],
    'producto': ['Camisa', 'Pantalón', 'Zapatos'],
    'cantidad': [15, 7, 12]
}
df_completa = pd.DataFrame(data_nueva)
print("\nCarga completa (nueva base):")
print(df_completa)

Base inicial:
   id  producto  cantidad
0   1    Camisa        10
1   2  Pantalón         5
2   3   Zapatos         8

Carga completa (nueva base):
   id  producto  cantidad
0   1    Camisa        15
1   2  Pantalón         7
2   3   Zapatos        12

In [32]:
# Nuevos datos incrementales
data_incremental = {
    'id': [4, 5],
    'producto': ['Sombrero', 'Bufanda'],
    'cantidad': [3, 2]
}
df_incremental = pd.DataFrame(data_incremental)
df_actualizada = pd.concat([df_base, df_incremental], ignore_index=True)
print("\nCarga incremental (base actualizada):")
print(df_actualizada)

Carga incremental (base actualizada):
   id  producto  cantidad
0   1    Camisa        10
1   2  Pantalón         5
2   3   Zapatos         8
3   4  Sombrero         3
4   5   Bufanda         2

In [38]:
# Datos iniciales
data_base = {
    'id': [1, 2, 3],
    'producto': ['Camisa', 'Pantalón', 'Zapatos'],
    'cantidad': [10, 5, 8]
}
df_base = pd.DataFrame(data_base)

# Datos incrementales con duplicados
data_incremental = {
    'id': [3, 4],
    'producto': ['Zapatos', 'Sombrero'],
    'cantidad': [12, 3]
}
df_incremental = pd.DataFrame(data_incremental)

# Concatenar y eliminar duplicados
df_actualizada = pd.concat([df_base, df_incremental], ignore_index=True).drop_duplicates(subset=['id'], keep='last')
print("\nBase actualizada sin duplicados:")
print(df_actualizada)

Base actualizada sin duplicados:
   id  producto  cantidad
0   1    Camisa        10
1   2  Pantalón         5
3   3   Zapatos        12
4   4  Sombrero         3

In [ ]:
# Guardar datos en CSV:

In [40]:
# Escenario inicial
import pandas as pd
import os

# Rutas de los archivos
archivo_nueva = 'C:/Users/babst/Downloads/data_nueva_1.csv'
archivo_completo = 'C:/Users/babst/Downloads/data_completo.csv'

# Cargar datos existentes y realizar carga incremental
def carga_incremental(nuevos_datos_path, archivo_completo_path):
    # Leer el archivo de datos nuevos
    df_nuevos = pd.read_csv(nuevos_datos_path)

    #Verificar si el arcivo completo ya existe
    if os.path.exists(archivo_completo_path):
        # Si el archivo existe, cargar los datos existentes
        df_completo = pd.read_csv(archivo_completo_path)
        # Concatenar los datos nuevos con los existentes
        df_actualizado = pd.concat([df_completo, df_nuevos], ignore_index=True)
        # Eliminar duplicados basados en la columna 'id' (o cualquier otra clave única)
        df_actualizado = df_actualizado.drop_duplicates(subset=['id'], keep='last')
        print(f"Datos existentes combinados con los nuevos. Total registros después de la carga: {len(df_actualizado)}")
    else:
        # Si el archivo no existe, usar solo los datos nuevos
        df_actualizado = df_nuevos
        print(f"Archivo completo no existe. Usando solo los datos nuevos. Total registros: {len(df_actualizado)}")
    
    # Guardar el archivo actualizado (si es nuevo o se combinó)
    df_actualizado.to_csv(archivo_completo_path, index=False)
    print(f"Carga incremental realizada. Datos guardados en {archivo_completo_path}")
    
# Ejecutar la función con datos nuevos (archivo completo puede no existir al principio)
carga_incremental(archivo_nueva, archivo_completo)

Datos existentes combinados con los nuevos. Total registros después de la carga: 6
Carga incremental realizada. Datos guardados en C:/Users/babst/Downloads/data_completo.csv

In [42]:
#Carga incremental
archivo_nueva = 'C:/Users/babst/Downloads/data_nueva_2.csv'     # Archivo con datos nuevos
archivo_completo = 'C:/Users/babst/Downloads/data_completo.csv'  # Archivo donde se guardará la carga completa

# Ejecutar la función con datos nuevos (archivo completo ya existe)
carga_incremental(archivo_nueva, archivo_completo)

Datos existentes combinados con los nuevos. Total registros después de la carga: 6
Carga incremental realizada. Datos guardados en C:/Users/babst/Downloads/data_completo.csv

In [45]:
import pandas as pd

data = {
    'id_venta': [1, 2, 3, 4, 5, 6],
    'producto': ['Camisa', 'Pantalón', 'Zapatos', 'Camisa', 'Pantalón', 'Zapatos'],
    'cantidad': [2, 3, 1, 2, 0, 5],
    'categoria': ['Ropa', 'Ropa', 'Calzado', 'Ropa', 'Ropa', 'Calzado'],
    'fecha': ['2024-05-01', '2024-05-03', '2024-05-02', '2024-05-01', '2024-05-02', '2024-05-05']
}

df = pd.DataFrame(data)
ropa = df[df['categoria'] == 'Ropa']
calzado = df[df['categoria'] == 'Calzado']

print("Partición Ropa:\n", ropa)
print("Partición Calzado:\n", calzado)

Partición Ropa:
    id_venta  producto  cantidad categoria       fecha
0         1    Camisa         2      Ropa  2024-05-01
1         2  Pantalón         3      Ropa  2024-05-03
3         4    Camisa         2      Ropa  2024-05-01
4         5  Pantalón         0      Ropa  2024-05-02
Partición Calzado:
    id_venta producto  cantidad categoria       fecha
2         3  Zapatos         1   Calzado  2024-05-02
5         6  Zapatos         5   Calzado  2024-05-05

In [47]:
# Agrupación por fecha
df['mes'] = pd.to_datetime(df['fecha']).dt.month
particiones_por_mes = {mes: datos for mes, datos in df.groupby('mes')}

for mes, datos in particiones_por_mes.items():
    print(f"Mes {mes}:\n{datos}\n")

Mes 5:
   id_venta  producto  cantidad categoria       fecha  mes
0         1    Camisa         2      Ropa  2024-05-01    5
1         2  Pantalón         3      Ropa  2024-05-03    5
2         3   Zapatos         1   Calzado  2024-05-02    5
3         4    Camisa         2      Ropa  2024-05-01    5
4         5  Pantalón         0      Ropa  2024-05-02    5
5         6   Zapatos         5   Calzado  2024-05-05    5

In [49]:
#Particionamiento de Datos - Ruta por default
import pandas as pd

# Ruta del archivo data_completa.csv
archivo_completo = 'C:/Users/babst/Downloads/data_completo.csv'

# Función para particionar los datos por año
def particion_por_año(archivo_completo_path):
    # Leer el archivo completo
    df = pd.read_csv(archivo_completo_path)
    
    # Particionar por año
    for año, df_año in df.groupby('año'):
        # Crear el nombre del archivo para cada año
        nombre_archivo = f"data_{año}.csv"
        # Guardar el DataFrame del año en un archivo CSV
        df_año.to_csv(nombre_archivo, index=False)
        print(f"Partición guardada en {nombre_archivo}")

# Llamar a la función para particionar el archivo por año
particion_por_año(archivo_completo)

Partición guardada en data_2023.csv
Partición guardada en data_2024.csv

In [ ]:
# Guardar datos en Excel:

In [56]:
#Particionamiento de Datos - Ruta personalizada
import pandas as pd
import os

# Ruta del archivo data_completa.csv
archivo_completo = 'C:/Users/babst/Downloads/data_completo.csv'

# Ruta de destino para los archivos particionados
ruta_destino = 'C:/Users/babst/Downloads/'

# Función para particionar los datos por año
def particion_por_año(archivo_completo_path, ruta_destino):
    # Leer el archivo completo
    df = pd.read_csv(archivo_completo_path)
    
    # Particionar por año
    for año, df_año in df.groupby('año'):
        # Crear el nombre del archivo para cada año en la ruta de destino
        nombre_archivo = os.path.join(ruta_destino, f"data_{año}.csv")
        # Guardar el DataFrame del año en un archivo CSV
        df_año.to_csv(nombre_archivo, index=False)
        print(f"Partición guardada en {nombre_archivo}")

# Llamar a la función para particionar el archivo por año
particion_por_año(archivo_completo, ruta_destino)

Partición guardada en C:/Users/babst/Downloads/data_2023.csv
Partición guardada en C:/Users/babst/Downloads/data_2024.csv

In [59]:
#Generacion de los archivos!
import pandas as pd

# Crear el archivo data_nueva1.xlsx
data_nueva_1 = {
    'id': [1, 2, 3],
    'nombre': ['Carla', 'Laura', 'Luis'],
    'categoria': ['A', 'B', 'C'],
    'ventas': [120, 170, 200],
    'año': [2024, 2023, 2024]
}

df_datanueva_1 = pd.DataFrame(data_nueva_1)
df_datanueva_1.to_excel('data_nueva1.xlsx', index = False)


# Crear el archivo datanueva_2
data_nueva_2 = {
    'id': [4, 5, 6],
    'nombre': ['Carlos', 'Lucia', 'Marcos'],
    'categoria': ['A', 'B', 'C'],
    'ventas': [210, 180, 250],
    'año': [2024, 2023, 2024]
}

df_datanueva_2 = pd.DataFrame(data_nueva_2)
df_datanueva_2.to_excel('data_nueva2.xlsx', index = False)

In [63]:
#Código para Carga Incremental con data 1:
import pandas as pd
import os

# Ruta de los archivos Excel
archivo_nueva_1 = 'data_nueva1.xlsx'  # Archivo con datos nuevos (data 1)
archivo_completo = 'data_completa.xlsx'  # Archivo donde se guardará la carga completa

# Función para carga incremental con Excel
def carga_incremental_excel(nuevos_datos_path, archivo_completo_path):
    # Leer el archivo de datos nuevos
    df_nuevos = pd.read_excel(nuevos_datos_path)
    
    # Verificar si el archivo completo ya existe
    if os.path.exists(archivo_completo_path):
        
        # Leer el archivo completo (si existe) y combinarlo con los nuevos datos
        df_completo = pd.read_excel(archivo_completo_path)
        
        # Concatenar los datos y eliminar duplicados basados en 'id'
        df_actualizado = pd.concat([df_completo, df_nuevos]).drop_duplicates(subset=['id'], keep='last')
        print(f"Datos existentes combinados con los nuevos. Total registros después de la carga: {len(df_actualizado)}")
        
    else:
        # Si el archivo no existe, usar solo los datos nuevos
        df_actualizado = df_nuevos
        print(f"Archivo completo no existe. Usando solo los datos nuevos. Total registros: {len(df_actualizado)}")
    
    # Guardar el archivo actualizado en Excel
    df_actualizado.to_excel(archivo_completo_path, index=False)
    print(f"Carga incremental realizada. Datos guardados en {archivo_completo_path}")

# Llamar a la función con el archivo de datos nuevos 1
carga_incremental_excel(archivo_nueva_1, archivo_completo)

Datos existentes combinados con los nuevos. Total registros después de la carga: 3
Carga incremental realizada. Datos guardados en data_completa.xlsx

In [66]:
#Código para Carga Incremental con data 2:
archivo_nueva = 'data_nueva2.xlsx'     # Archivo con datos nuevos
archivo_completo = 'data_completa.xlsx'  # Archivo donde se guardará la carga completa

# Ejecutar la función con datos nuevos (archivo completo ya existe)
carga_incremental_excel(archivo_nueva, archivo_completo)

Datos existentes combinados con los nuevos. Total registros después de la carga: 6
Carga incremental realizada. Datos guardados en data_completa.xlsx